<!-- Navbar -->
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid px-lg-4">
        <a href="" class="navbar-brand text-light fw-semibold" routerLink="/">
            <i class="bi bi-journal-bookmark-fill"></i>
            NoteKeeper
        </a>
        
        <div class="d-flex gap-2">
            <a routerLink="/categories/list" class="nav-link">
                <button routerLinkActive="btn-light text-dark" class="btn btn-outline-light px-4" >
                    Categories
                </button>
            </a>

            <a routerLink="/notes/list" class="nav-link">
                <button routerLinkActive="btn-light text-dark" class="btn btn-outline-light px-4" >
                    Notes
                </button>
            </a>
        </div>
    </div>
</nav>
