<div class="row g-2">
    <div class="col-6 col-lg-1">
        <span
            (click)="GetAll()"
            ngbTooltip="All notes"
            placement="left"
            class="app-badge-filter badge rounded-pill bg-secondary w-100 p-2 fs-6 fw-semibold"
        >All</span>
    </div>

    <div class="col-6 col-lg-1" *ngFor="let category of categories">
        <span
            (click)="SelectByFilter(category)"
            ngbTooltip="Filter by category: {{ category.title }}"
            placement="bottom"
            class="app-badge-filter badge rounded-pill bg-secondary w-100 p-2 fs-6 fw-semibold"
            >{{ category.title.split(" ")[0] }}</span>
    </div>
</div>

